<h3>Velocidad de la luz</h3>
<p>La velocidad de la luz (c) vale <b>{{laVelocidadDeLaLuz|number}}</b> furlongs/s.</p>
<h4>El furlong</h2>
<p>El furlong (estadio) es una unidad de longitud de medida del sistema anglosajón. El nombre completo de la unidad es <i>surveyor furlong</i>, y equivale a 201,168 metros</p>
<h5>Equivalencias</h5>
<p>Un furlong equivale a:</p>
<ul>
	<li>0,041666666666666 leguas</li>
	<li>0,125 millas</li>
	<li>10 cadenas</li>
	<li>40 rods</li>
	<li>220 yardas</li>
	<li>660 pies</li>
</ul>