<h3>Velocidad de la luz</h3>
<p>La velocidad de la luz (c) vale {{laVelocidadDeLaLuz|number}} m/s en el sistema métrico decimal.</p>
<p>Sin embargo, en otros sistemas vale cosas distintas:</p>
<ol>
	<li>En el sistema anglosajón a saber en función de si son millas, yardas, inches, millas náuticas, pulgadas, furlongs, ligas, ... más información sobre el Sistema Imperial en <a href="http://www.youtube.com/watch?v=r7x-RGfd0Yk&t=0m40s" target="_blank">http://www.youtube.com/watch?v=r7x-RGfd0Yk</a></li>
	<li>En el sistema de Unidades de Plank, la velocidad de la luz vale 1, igual que la constante de gravitación G, la constante de Plank, la constante de Coulomb y la de Boltzman (cada uno con sus dimensiones correspondientes de longitud, tiempo, masa, carga y temperatura). Esto simplifica las ecuaciones:<br>
	Gravedad: <img src="images/gravedad.png"><br>
	Equivalencia de energía y masa: <img src="images/emc2.png">
	</li>
</ol>